body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #00d8ff;
}
.bg-blue {
    background-color: #4285f4;
}
.bg-red {
    background-color: #ea4335;
}
.bg-yellow {
    background-color: #fbbc05;
}
.bg-green {
    background-color: #34a853;
}
nav.vertical-navigation {
    width: 300px; /* fixed width */
}
nav.vertical-navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;    
}
nav.vertical-navigation ul li {

}
nav.vertical-navigation ul li a {
    display: block;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
nav.vertical-navigation ul li a:hover {
    background-color: #333333;
}


nav.horizontal-navigation {
    width: 80%; /* dynamic width */
    background-color: #34495e;
}
nav.horizontal-navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav.horizontal-navigation ul li {
    display: inline-block;
}
nav.horizontal-navigation ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px 15px 20px;
}
nav.horizontal-navigation ul ul {
    width: 200px;
    position: absolute;
    display: none;
    background-color: #333333;
}
nav.horizontal-navigation ul li:hover ul {
    display: block;
}
nav.horizontal-navigation ul li:hover ul li {
    display: block;
}
nav.horizontal-navigation ul li a:hover {
    background-color: #ea4335;
}
